.listings {
  position: relative;
  overflow: hidden; }
  .listings__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #3399CC;
    position: relative;
    z-index: 3;
    background-color: #FFFFFF; }
    .listings__wrapper::before, .listings__wrapper::after {
      content: '';
      position: absolute;
      z-index: 3;
      background-color: #FFFFFF;
      width: 15px;
      top: 0;
      bottom: 0; }
    .listings__wrapper::before {
      left: -15px; }
    .listings__wrapper::after {
      right: -15px; }
    @media all and (min-width: 992px) {
      .listings__wrapper {
        justify-content: flex-end;
        padding: 30px 0;
        margin-bottom: 10px; } }
  .listings__filters {
    display: inline-block; }
    @media all and (min-width: 992px) {
      .listings__filters {
        display: none; } }
