@import 'variables.scss';

@mixin container {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  height: 100%;
}

@mixin sm() {
  @media all and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md() {
  @media all and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg() {
  @media all and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl() {
  @media all and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin column($width) {
  // $one-twelfth: (100% / 12);
  // $col-width: $one-twelfth * $width;
  // flex-basis: calc(#{$col-width} - (#{$gutter} * 2));
  flex-basis: percentage($width / 12);
  max-width: percentage($width / 12);
  padding: 0 15px;
}