$content-max-width: 1140px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-family-heading: 'Anton-Regular', sans-serif;
$font-family-base: 'Lato-Regular', sans-serif;
$font-family-base-light: 'Lato-Light', sans-serif;
$font-family-base-bold: 'Lato-Bold', sans-serif;

$color-white: #FFFFFF;
$color-mine-shaft: #333333;
$color-curious-blue: #3399CC;
$color-gallery: #EEEEEE;
$color-supernova: #FFCC00;